*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: rgb(17, 16, 16);
}
nav{
  display: flex;
  height: 60px;
  position: sticky;
  background: rgb(65, 62, 62);
  align-items: center;
  top: 0px;
}
.frisr-nav, .lest-nav{
  display: flex;
  flex-basis: 25%;
  height: 40px;
}
.nav-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.nav-icon{
  display: flex;
  margin: 0 20px;
  align-items: center;
}
.nav-icon i{
  align-items: center;
  color: white;
  font-size: 25px;
}
.nav-icon input{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 4px 15px;
  background: none;
  color: white;
}
/***frist-nav end***/

/***medol-nav start***/
.medol-nav{
  position: relative;
  display: flex;
  flex-basis: 48%;
  height: 40px;
}
.medol-nav .fa{
  cursor: pointer;
  margin: 0 auto ;
  align-items: center;
  font-size: 30px;
  color: white;
  position: relative;
}
.medol-nav .online::after{
 content: "12+";
 width: 20px;
 height: 20px;
 font-size: 12px;
 font-weight: 900;
 color:white;
 background-color: red;
 border-radius: 50%;
 display: block;
 margin: 0 auto;
 top: -7px;
 right: -10px;
 position: absolute;
 text-align: center;
}
.medol-nav .online-one::after{
  content: "8+";
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 900;
  color:white;
  background-color: red;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  top: -7px;
  right: -10px;
  position: absolute;
  text-align: center;
 }
.lest-nav{
  display: flex;
  align-items: center;
}
.lest-nav-img{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lest-nav-img img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px;
}
.lest-nav-img p{
  color: white;
}
.lest-nav-icon i{
  position: relative;
  margin: 6px 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.lest-nav-icon .online-two::after{
  content: "18+";
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 900;
  color:white;
  background-color: red;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  top: -7px;
  right: -10px;
  position: absolute;
  text-align: center;
 }
 .lest-nav-icon .online-the::after{
  content: "61+";
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 900;
  color:white;
  background-color: red;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  top: -7px;
  right: -10px;
  position: absolute;
  text-align: center;
 }
 /************nav-section end****************/

 /********content-section start*******/
 .content{
   display: flex;
 }
 .first-content, .lest-content{
   display: flex;
   flex-basis: 25%;
 }
 .mane-content{
   display: flex;
   flex-basis: 48%;
   height: 100vh;
   width: 100%;
   background-color: white;
 }
 
 /********content-section end*******/
